@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background: #f5f6fa;
}

.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  
}

.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 45%;
  height: 45%;
    border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(206, 240, 253);
  font-size: 14px;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;
  background:white;
  border-left: 10px solid red;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

/*.wrapper .section .top_navbar{
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
 
}*/

/*.wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
  color: #a2ecff;
}

 .wrapper .section .container{
  margin: 30px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
}*/

body.active .wrapper .sidebar{
  left: -225px;
}

body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
}


 
.wrapper  nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: rgb(5, 68, 104);
  align-items: center;
  justify-content: right;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
.wrapper nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.wrapper nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.wrapper nav ul li{
  margin: 0 5px;
}
.wrapper nav ul li a{
  color: rgb(241, 237, 237);
   font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  text-align: right;
  /*border-radius: 5px;*/
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.wrapper nav ul li a.active,
.wrapper nav ul li a:hover{
  color: #111;
  border-bottom: 10px solid red;
    color: #0c7db1;
    background:white;
  background: #fff;
}
.wrapper nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.wrapper .container{
 display: flex;
    position: relative;
    background: red;
    margin-top: 3%;
    width: 80%;
    /* top: 65%; */
    left: 18%;
    /* right: -21%; */
    flex-wrap: wrap;
    line-height: 50px;
    padding: 30px;
}




@media (max-width: 1000px){
  .wrapper nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  .wrapper nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  .wrapper nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  .wrapper nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    border-bottom: 1px solid #10558d;
    
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  .wrapper nav ul li a.active,
  .wrapper nav ul li a:hover{
    
    border-bottom: 10px solid red;
    color: #0c7db1;
    background:white;
  }
}
